.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  --header-text_color: #FF0070;
  --header-title_color: #DB00FF;
  --main-color: #FF0070;
  --accent-color: #FF0070;
  --color-text: #F1B2CE;
  --color-subtitle: #000028;
}

.theme_dark .bulb__type_dark {
  display: block;
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid #FF007066;
}
