.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-color: #FFF1F7;
  --header-text_color: #353430;
  --header-title_color: #FFC2E6;
  --main-color: #FF8DCB;
  --accent-color: #FF8DCB; 
  --color-text: #353430;
  --color-subtitle: #353430;
}

.theme_light .bulb__type_dark {
  display: none;
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid #32312D66;
}

@media (width >= 1024px) {
  .page.theme_light {
    --accent-color: #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
    background-color: #FFF1F7;
    --header-text_color: #353430;
    --header-title_color: #FFC2E6;
    --main-color: #FF8DCB;
    --accent-color: #FF8DCB;
    --color-text: #353430;
    --color-subtitle: #353430;
  }

  .bulb__type_dark {
    display: none;
  }
  
  .header__theme-menu-button:hover {
    outline: 1px solid #32312D66;
  }
  
  @media (width >= 1024px) {
    .page.theme_auto {
      --accent-color: #FF0070;
    }
  }
}