.page {
  background-image: url(../images/cover-image-dark.png);
  background-color: #000028;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  padding: var(--main-padding);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
  height: 100dvb;
  min-height: 668px;
}

.decorated-zone::before, .decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
}

.decorated-zone::before {
  right: var(--main-padding);
  top: var(--main-padding);
  border-top: 1px solid var(--header-text_color);
  border-right: 1px solid var(--header-text_color);
}

.decorated-zone::after {
  left: var(--main-padding);
  bottom: var(--main-padding);
  border-bottom: 1px solid var(--header-text_color);
  border-left: 1px solid var(--header-text_color);
}

.bulb__type_dark {
  position: absolute;
  top: var(--main-padding);
  right: clamp(19px, 9.4576px + 2.5445vw, 29px);
  line-height: 25px;
  color: var(--main-color)
}

.bulb__type_dark::after {
  content: "";
  display: inline-block;
  margin-bottom: 1px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0 0 4px 2px var(--main-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-bottom: 2px;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  color: var(--header-text_color);
  line-height: 18px;
  background: transparent;
  text-align: center;
  border: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid #FF007066;
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--header-text_color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-text_color);
  outline: none;
}

.header__title {
  margin-left: clamp(-20px, 19.0832px - 5.0891vw, 0px);
  color: var(--header-title_color);
  font-size: var(--title-font);
  line-height: var(--title-line_heiht);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  font-weight: bold;
  align-self: center;
  justify-self: end;
  width: max(50%, 355px);
}

.title-decor {
  color: var(--color-subtitle);
  background-color: var(--main-color);
}

.main {
  padding: clamp(40px, 20.9168px + 5.0891vw, 60px) var(--main-padding);
  display: flex;
  flex-direction: column;
  gap: clamp(50px, 21.3744px + 7.6336vw, 80px);
}

.card {
  display: grid;
  gap: 20px;
}

.card__title {
  color: var(--header-text_color);
  font-size: 18px;
  font-weight: bold;
}

.card-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__subtitle {
  font-weight: bold;
  font-size: 18px;
}

.card__text {
  color: var(--color-text);
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--main-color);
}

.card__text-link:hover {
  border-bottom: 1px solid var(--color-text);
}

.card__text-link:focus-visible {
  outline: 1px solid var(--color-text);
}

.card-concentration_items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__subtitle-advice {
  font-size: 18px;
  font-weight: normal;
}

.attention__card-items {
  display: grid;
}

.card__images {
  display: flex;
  flex-direction: column;
  gap: var(--main-padding);
}

.card__img-items {
  display: grid;
  gap: var(--main-padding);
}

.card__img-item {
  line-height: 0;
}

.card__img {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: var(--header-title_color);
  font-size: var(--title-font);
  line-height: var(--title-line_heiht);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {

  .card {
    grid-template-columns: 1fr 2fr;
  }

  .attention__card-items {
    grid-column: 1 / span 2;
    grid-row-start: 2;
  }

  .card__img {
    object-fit: cover;
    height: 100%;
  }

  .image__sunset {
    grid-column: 1 / 3;
  }

  .image__ice-cream {
    grid-column-start: 3;
    grid-row: 1 / 3;
  }

  .image__tape {
    grid-row: 2 / 4;
  }

  .image__street {
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, min-content);
  }

  .card {
    grid-template-columns: 1fr calc((100% - 40px) / 3 * 2 + 20px);
  }

  .attention__card-items {
    grid-template-columns: repeat(3, 1fr);
  }
}